name: CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      # Checkout code
      - name: Checkout code
        uses: actions/checkout@v4
      # Install Python and dependencies
      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.11'
      
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      # Run tests
      - name: Run tests
        run: python -m pytest

      - name: Lint python code
        run: black /src
      
      - name: Create ZIP package
        run: zip -r my_project.zip src/ requirements.txt README.md

      - name: Upload ZIP artifact
        uses: actions/upload-artifact@v4
        with:
          name: my_project
          path: my_project.zip

  pip-audit:
    runs-on: ubuntu-latest
    needs: build  
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.11'
      - name: Install dependencies and pip-audit
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt pip-audit
      - name: Run pip-audit
        run: pip-audit || echo "Vulnerabilities found"
